@model List<ASP.NETWebApp.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
            </tr>
        }
    </tbody>
</table>