
@{
    ViewBag.Title = "About";
    ViewBag.Message = "We value our Customers";
}

<!--=======-->
<!-- ABOUT -->
<!--=======-->

<!-- Partial View-->
@{
    ViewBag.ListTitle = "Products";
    ViewBag.Items = new List<string>() { "Mobiles", "Electronics", "Home Applicances" };
    
    Html.RenderPartial("ListPartialView");
}

<!-- Sidebar Section -->
@section SidebarOptions{
    <div class="list-group">
        <a class="list-group-item text-white" style="background-color:transparent">About Company</a>
        <a class="list-group-item text-white" style="background-color:transparent">About Founders</a>
        <a class="list-group-item text-white" style="background-color:transparent">About Team</a>
    </div>
}