
@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact our CustomerCare Executives";
}

<!--=========-->
<!-- Contact -->
<!--=========-->

<!-- Partial View-->
@{ 
    ViewBag.ListTitle = "Contact Details";
    ViewBag.Items = new List<string>() { "Contact Marketing Team", "Installation Technician", "Contact Support" };

    Html.RenderPartial("ListPartialView");
}


<!-- Sidebar Section -->
@section SidebarOptions{
    <div class="list-group">
        <a class="list-group-item text-white" style="background-color:transparent">Contact Marketing Team</a>
        <a class="list-group-item text-white" style="background-color:transparent">Contact Installation Technician </a>
        <a class="list-group-item text-white" style="background-color:transparent">Contact Support Team</a>
    </div>
}