
@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact our CustomerCare Executives";
}

<!--=========-->
<!-- Contact -->
<!--=========-->
<h2>Contact</h2>

@section SidebarOptions{
    <div class="list-group">
        <a class="list-group-item text-white" style="background-color:transparent">Contact Marketing Team</a>
        <a class="list-group-item text-white" style="background-color:transparent">Contact Installation Technician </a>
        <a class="list-group-item text-white" style="background-color:transparent">Contact Support Team</a>
    </div>
}