
@{
    ViewBag.Title = "Index";
    ViewBag.Message = "Welcome to ShopNet";
}

<!--======-->
<!-- HOME -->
<!--======-->
<h2>Index</h2>

@section SideBarOptions{
    <div class="list-group">
        <a class="list-group-item text-white" style="background-color:transparent">Admin</a>
        <a class="list-group-item text-white" style="background-color:transparent">Agent Home</a>
        <a class="list-group-item text-white" style="background-color:transparent">Customer Home</a>
    </div>
}