@model List<ASP.NETWebApp.Models.Brand>

@{
    ViewBag.Title = "Index";
}

<h2>Brands</h2>

<table class="table">
    <thead>
        <tr>
            <th>Brand Id</th>
            <th>Brand Name</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
       <tr>
          <td>@Html.DisplayFor(temp=> item.BrandId)</td>
          <td>@Html.DisplayFor(temp=> item.BrandName)</td>
       </tr>
    }
    </tbody>
</table>